{{ define "main" }}
<main role="main">
    <div class="album">
        <div class="container">
          <h1>{{ .Summary }}</h1>
          <div class="row">
            {{ range .Pages.ByPublishDate.Reverse }}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <a href="{{ .RelPermalink }}" title="{{ .Title }} ">
                  {{ $image := (print .RelPermalink .Params.image.src) }}
                  {{ with .Resources }}
                    {{ with .GetMatch "{*.jpg,*.png}" }}
                      {{ $photo := .Resize "x195" }}
                      {{ with $photo }}
                        {{ $src := .Permalink }}
                        <img src="{{ $src }}" alt="{{ .Title }}"/>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </a>
                <div class="card-body">
                  <h2><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
                  <p class="card-text">{{ .Summary }}</p>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
    </div>
</main> 
{{ end }}
