{{ define "main" }}
<main role="main" class="container mt-1">
  <div class="text-center">
    <a href="{{ .Params.image.src }}" title="{{ .Params.image.caption }}"><img class="img-fluid" src="{{ .Params.image.src }}" /></a>
  </div>
  <div>
    <div class="col-sm-8 offset-2">
      <h2>{{ .Title }}</h2>
      <p class="blog-post-meta">{{ .PublishDate.Format "January 2, 2006" }}</p>
      {{ .Content }}
      <span>
        <a href="{{ .Params.stellarium }}" title="View in Stellarium"><img src="/images/stellarium.png" /></a>
        {{ with .Params.tags }}
        {{ range . }}
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ . }}</a>
        {{ end }}
        {{ end }}
      </span>
    </div>
  </div>
</main>
{{ end }}