{{ define "main" }}
<main role="main">

  <div class="album">
    <div class="container">

      <div class="row">
        {{ range $section, $taxonomy := .Site.Sections }}
          {{ range $taxonomy.Pages }}
            {{ $url := .Permalink}}
            {{ $title := .Title }}
            {{ $summary := .Summary }}
            {{ $reading_time := .ReadingTime }}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                {{ $image := (print .RelPermalink .Params.image.src) }}
                {{ with .Resources }}
                  {{ with .GetMatch "{*.jpg,*.png}" }}
                    {{ $photo := .Resize "x225" }}
                    {{ with $photo }}
                      {{ $src := .Permalink }}
                      <a href="{{ $url }}" title="{{ $summary }}"><img src="{{ $src }}" alt="{{ $summary }}" class="mx-auto d-block" /></a>
                      <div class="card-body">
                        <h2>{{ $title }}</h2>
                        <p class="card-text">{{ $summary }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="{{ $url }}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                          </div>
                          <small class="text-muted">{{ $reading_time }} mins</small>
                        </div>
                    {{ end }}
                  {{ end }}
                {{ end }}
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>

    </div>
  </div>

</main>{{ end }}